.student-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.student {
  display: flex;
  flex-wrap: wrap;
}

.student:nth-child(even) {
  background-color: #ffea65;
}
.student:hover {
  background-color: #fff8cb;
}

.student.header,
.student.header:nth-child(even),
.student.header:hover {
  background-color: transparent;
}

/** hide some shit? **/
@media (max-width: 49.999em) {
  .hidden-sm {
    display: none;
    visibility: hidden;
  }
  .student {
    flex-direction: column;
  }
  .student span.show,
  .student span.social {
    margin-top: .5rem;
  }
  .student span.social {
    flex: 1;
    text-align: left;
  }
}
